*{
  margin: 0px;
  padding: 0px;
}
/* nav bar */
.nav{
  height: 15vh;
  width: 100%;
  background-image: repeating-linear-gradient(#11a811,rgb(219, 219, 219));
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;

}
.nav-bar{
display: flex;
justify-content: space-between;

}
input{
  margin-top: 20px;
  margin-left: 35px;
  padding: 9px 10px ;
  border-style: none;
  background-color: #faf8f7;
  border-radius: 50px;
  border-left: 6px solid #ffffff;
  box-shadow: inset 5px 4px 6px #e7e7e4,
             inset -5px -4px 8px #046823;

}

.nav-li {
  display: flex;
  list-style: none;
  font-family: 'Rajdhani', sans-serif;
  
}
.nav-li a {
  font-weight: 600;
  font-size: 30px;
  text-decoration: none;
  padding: 25px;
  color: black;
}
.fa-search:hover{
  
  transform: scale(1.5);
  transition: all 0.2s linear;
}
.nav-li a:hover {
  text-decoration: 3px underline black;
  color: whitesmoke;
  transform: scale(1.2 );
  transition: all 0.3s linear;
}
.logo{
  margin-top: 1%;
  margin-right: 5%;
  font-size: 50px;
  text-shadow: 15px 10px 15px black;
  font-family: 'Pacifico', cursive;
  
}
.logo:hover{
  transform: scale(1.09);
  transition: all 0.4s linear;
  color: rgb(255, 255, 255);
}

/* .food-box-1 */



.food-box-1{
  height: 60vh;
  width: 100%;
  display: flex;
  background-color: #ffffff;
}
.half-width{
padding-left: 5%;
width: 50%;
height: 50vh;
}

#text{
  margin-left: 10%;
  margin-right: 10%;
  height: 40vh;
  padding-top: 8%;
  padding-left: 20px;

}
#text h1{
 font-size: 45px;
 font-weight: 700;
padding-bottom: 5px;
font-family: 'Secular One', sans-serif;
}
#text h1 span{
  color: #1fe90c;
  font-size: 85px;
  font-family: 'Pacifico', cursive;
  
}
#text h3{
  padding: 5px;
  padding-right: 8%;
  font-size: 25px;
  font-weight: 540;
  text-align: justify;
}
#text h3 pre{
  padding-top: 20px;
  text-align: center;
}
#oilmaro{
  height: 25%;
  width: 85%;
  border-left: 8px solid;
  background-color: #7bec0a1e;
  border-image: linear-gradient(#a5a4a4,rgba(29, 29, 28, 0.925));
  border-image-slice: 1;
  border-radius: 15px;
  padding-left: 45px;
  padding-top: 25px;
  padding-right: 25px;
  text-align: justify;
}
button{
  border-left: 4px solid rgb(255, 255, 255);
  box-shadow: 5px 2px 6px rgb(80, 80, 80);
  background-image: linear-gradient(black,rgb(9, 87, 41));
  padding: 6px 10px;
  border-radius: 15px;
  margin-top: 10px;
  color: white;
  border-right:1px solid white ;
  font-size: 15px;
}
button:hover{
  transform: scale(1.1);
  transition: all 0.2s linear;
}
.half-width img{
  width: 100%;
  margin-bottom: 20px;
  
}

#png{
  height: 40vh;
  box-shadow: inset 8px 12px 14px #f1f0f0,
             -6px -8px 12px #e4e1e1 ;
  margin-top: 10%;
  margin-right: 12%;

  margin-left: 15%;
  border-radius: 55px;
}



/*section: box-2 */
.food-box-2{
  display: flex;
height: 90vh;
width: 100%;
/* border: 1px solid black; */

background-repeat: no-repeat;
background-position: right;



}
.half-box-2{
  width: 25%;
}
.right{
  width: 75%;
  
}
#bg-2{
  height: 75vh;
  width: 60%;
  margin-top: 5%;
  margin-left: 10%;
}
#bg-2 img{
  width:148%;
  height: 75vh;
  margin-left: 5%;
  padding-top: 45px;
  padding-bottom: px;

 
}
#half-box-right{
  display: flex;

  height: 75vh;
  width: 100%;
  background-image: url("images/Frame 57.jpg");
  margin-top: 5%;
  box-shadow: inset 10px 10px 12px #949292,
               inset -10px -10px 12px #91d4eb;
  border-radius: 25px;
  
}
#about-me-article{
  margin: auto 35px;
  width: 60%;
  height: 50vh;
  /* border: 1px solid black; */
}
#about-me-png{
  background-color: #ffffff;
  width: 30%;
  height: 60vh;
  margin: 50px 35px;
  border-radius: 15px;
  background-image: url(images/the-galaxy-global-eatery-hemp-cookbook.png);
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 10px 10px 12px #2c5f13,
                   -5px -5px 12px #1d6683;
  
}

#article{
  margin-left: 20%;
  margin-right: 15%;
  margin-top: 5%;
}
#article h1{
  padding-bottom: 20px;
  font-size: 45px;
  font-family: 'Krona One', sans-serif;

}
#paragraph{
  text-align: justify;
  word-wrap: none;  
  font-size: 18px;  
  margin-top: 10%;
  padding: 8%;
  height: 40%;
  width: 75%;
  border-left: 10px solid;;
  border-image: linear-gradient(rgb(134, 134, 139),rgb(26, 64, 122));
  border-image-slice: 7;
  background-color: #199edb2d;
  border-bottom-left-radius: 65px;
  border-top-right-radius: 65px;
}
/* section:food-box-3  */
.food-box-3{
  width: 100%;
  height: 85vh;
  background-color: #ffffff;
}

  .my-recipy-box-1{
    height: 25vh;
    /* border: 1px solid black; */
  }
  .my-recipy-box-1 h1{
    text-align: center;
    font-size: 50px;
    font-weight: 550;
    font-family: 'Rajdhani', sans-serif;
  }
  #mrb-1{
    text-align: center;
  padding-top: 10px;
  margin: auto auto;
  height: 25px;
  width: 40%;
  font-family: 'Cinzel', serif;
font-family: 'Rajdhani', sans-serif;
  }

 .my-recipy-box-2{
   display: flex;
   height: 50vh;
   /* border: 1px solid black; */
   margin-left: 15%;
   margin-right: 15%;
 }
 .rb-1{
   margin: 0 auto;
   height: 52vh;
   width: 25%;
   /* border: 1px solid black; */
   border-radius: 45px;
   box-shadow:     10px 10px 12px #e0dbdb,
                   -10px -10px 8px #c7c7c7d5;
 }
 .img-rb-1{
   height: 23vh;
   width: 85%;
   margin: 20px auto;
   border-radius: 30px;
   /* border: 1px solid black; */
   box-shadow:  10px 10px 12px #a3a1a1,
               -10px -10px 12px #ebecebe0;
   
 }
 .my-recipy-box-2 h2{
   text-align: center;
   
  }
 .img-rb-1 img{
 max-width: 100%;
 max-height: 100%;
 
 }
 #rb-1{
   background-image: url(images/Project\ Cover5.png);
 }
 #rb-2{
   background-image: url(images/download.jpg);

 }
 #rb-3{
   background-image: url(images/heart-shape-various-vegetables-fruits-healthy-food-concept-isolated-white-background-140287808.jpg);
   background-repeat: no-repeat;

 }
 .rb-text-2 h2{
   padding-top: 10px;
   padding-bottom: 10px;
   text-align: center;
   font-size: 25px;
   font-family: 'Parisienne', cursive;
 }
 .rb-text-2 p{
   padding:20px 20px;
   text-align: justify;
   font-size: 18px;
 }
 .rb-text-2 h2:hover{
   color: rgb(20, 230, 65);
 }
 /* social sector */
 .follower-box-1{
  height: 40vh;
  width: 100%;
  display: flex;
 }
 .box-social ul li a:hover i{
  transform: scale(1.2);
  transition: all 0.3s linear;

 }
 #fb{
   color: rgb(65, 65, 156);
   padding-right: 50px;
   
 }
 #insta{
   color: purple;
 }
 #yout{
   color: #b90f0f;
 }
 .box-social{
  margin: 0 auto;
   padding: 20px;
   height: 15vh;
   width: 75%;
   /* border: 1px solid black; */
   box-shadow: 10px 10px 12px #d4d4d4,
                -10px -10px 12px #faf6f6;
                border-radius: 15px;
 }


 /* about box */
 .about-box{
  background-color: #3e6668;
   height: 58vh;
   width: 100%;
   display: flex;   
 }
 .box-social ul{
   padding: 65px;
   justify-content: space-between;
   background-color: white;
   display: flex;
   list-style: none;
   font-size: 20px;
 }
 .info-half{
   display: flex;
   margin: auto;
   height: 55vh;
   width: 45%;
   
 }
 .data{
  border-right: 1px solid rgb(255, 255, 255);
   margin-left: 15%;
 }

 .link-add{
    height: 45vh;
    width: 45%;
     /* border: 1px solid black;  */
    margin-top: 60px;
   
 }
 .link-add h3{
   margin-top: 50px;
   color: white;
  margin-left: 30px;

 }
 .link-add ul a {
   list-style: none;
   text-decoration: none;
   color: white;
   font-size: 15px;
   margin-bottom: 5px;
   
 }
 .link-add ul {
   margin-top: 40%;
   margin-left: 30px;
  
 }
 .link-add ul a li{
  padding-bottom: 13px;
  font-weight: 400;
  cursor: pointer;
 }
 .link-add a:hover {
   color: black;
   transition: all 0.2s linear;
   text-decoration: 2px underline black;
  
 }
 
 .icon{
   height: 40vh;
   width: 100%;
   /* border: 1px solid black; */
 }
 .icon ul {
  margin-left: 31%;
  margin-top: 15%;
  list-style: none;
  display: flex;
}
.icon ul li a{
  
  padding: 15px;
  color: white;
}
.icon ul li a:hover i{
  transition: all 0.3s linear;
  transform: scale(1.3);
}
#last{
  height: 45vh; 
}
#inpu{
 margin-left: 35%;
}

#last h2,p{
 padding-top: 35px;
 text-align: center;

}
.footer{
  height: 15vh;
  width: 100%;
  background-color: black;
}
.footer{
  padding-top: 15px;
  text-align: center;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}
.footer h1{
  font-size: 30px;
  color: white;
  text-decoration:underline black;
  font-family: 'Pacifico', cursive;
}
#green{
  color: #1fe90c;
}
.white{
  color: white;
  text-decoration: underline black;
  font-family: 'Nunito', sans-serif;
}
.footer h1:hover{
  transform: scale(1.1);
  transition: all 0.3s linear;
}


